::selection {
    background-color: var(--primary);
}

:root {
    --primary: rgb(141, 226, 249);
    --accent: rgb(25, 131, 131);
    --text: rgb(17, 69, 20);
    --body: rgb(165, 108, 42);
}

*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    text-decoration: none;
}

body{
    background: var(--primary)
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background: linear-gradient(lightskyblue 0%, rgb(154, 214, 154) 35%);
  color: var(--text);
}

header h1 {
    text-align: left;
    margin:3%;
    background-color: ;
    font-size: 400%;
}

nav ul {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 600px;
    
}

nav ul li {
    color: var(--text);
    font-size: 150%;
    background-color: aquamarine;    
    border-radius: 40px;
    transform: 3s;
    
}

.hero {
    background-image: url(../../franky.jpeg);
    background-size: center;
    background-position: center;
    height: 200px;
    width: 100%;

}

/* .sidebar {
    border: 1px, solid black;
    border-right: 5px solid black;
    width: 20%;
    margin: 2% 0% 2% 4%;
    padding:5% 2% 2%;
    display: flex;
    flex-direction:column;
    background-color: aquamarine;
    color: darkblue;
    text-align: right;
    padding: 10% 2% 10% 10%;
} */

.sidebar {
    background-color: aquamarine;
    flex-shrink: 0;
    width: 300px;
}

.sidebar h2 {
    align-self: flex-start;
    background-color: aquamarine;
    text-align: right;
    
    /* Scrolling Declarations */
    position: sticky;
    top: 20px;
    
    /* Spacing Declarations */
    border-radius: 40px;
    border-right: 5px solid rgb(28, 95, 171);
    margin-right: 10px;
    margin-top: 5%;
    padding: 10px 10px 50px 0px;
}


.about-me section{
    border: none;
    width: 75%;
    height: auto;
    margin: 2% 0% 2% 4%;
    padding:10% 2% 10%;
}

#about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me figure{
    display: flex;
    flex-direction: column;
    
    margin: 1%;
    text-align: center;
}

.about-me img {
    border: 2px solid black;
    border-radius: 20px;
    height: 320px;
    width:auto;
}
.about-me figcaption{
    border: 2px solid black;
    border-radius: 10%;
}


.work section{
    border: none;
    width: 75%;
    height: auto;
    margin: 2% 0% 2% 4%;
}

#work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work {
    background: linear-gradient(lavender 30%, lightskyblue 50%);
    display: flex;
}
.workboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 5%;
    width: 100%;
}

.card {
    background-image: url(../../franky4.jpeg);
    background-position: center;
    background-size: 50%;
    color: rgb(215, 129, 0);

    transition: transform .2s;

    border: 6px solid black;
    margin: 10px 0;

    width: 40%;
    min-height: 200px;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    line-height: 1;
    transition: all 1s;
}

.card#favorite {
    background-image: url(../../franky3.jpeg);
    width: 100%;
    min height: 300px;
    height: 60vh;
}

.contact-me a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    font-size: 175%;
    color: rgb(215, 129, 0);
    background-color: blanchedalmond;
    }

#contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav ul li a:hover {
    background: linear-gradient(cornflowerblue 50%, rgb(222, 79, 222) 70%);
    border-radius: 40px;

}

.card:hover {
    transform:scale(1.25);
    opacity: 60%;
    
}

.card#favorite:hover {
    transform: scale(1.2)
}